mat-card{
  width: 50%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%
}

input[type="file"] {
  visibility: hidden;
}

.slika {
  height: 7rem;
  margin: 1rem 0;
}

.slika img {
  height: 100%;
  border-radius: 100%;
}

.poruka {
  font-style: normal;
  font-size: medium;
  font-weight: initial;
}