h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkred;
}

.poruka {
    font-style: normal;
    font-size: large;
    font-weight: initial;
  }

  table {
    width: 100%;
  }

  mat-form-field {
    width: 20%;
}

img{
    height: 100px;
    width: 80px;
    margin-top: 5px
}

.boja {
    background-color: lightgrey;
}