.example-spacer {
    flex: 1 1 auto;
  }

mat-card{
  width: 50%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

mat-form-field {
    width: 120%;
}

.poruka {
    font-style: normal;
    font-size: large;
    font-weight: initial;
  }

  .poruka1 {
    font-style: normal;
    font-size: large;
    font-weight: initial;
    color: red;
  }